{% extends "base.html" %}
{% load static %}
{% block shop %}

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Page Header Section Start -->
    <div class="page-header--section text-center">
        <!-- Page Title Start -->
        <div class="page--title pd--130-0" data-bg-img="img/page-header-img.jpg">
            <div class="container">
                <h1 class="h1">Shop</h1>
            </div>
        </div>
        <!-- Page Title End -->

        <!-- Page Breadcrumb Start -->
        <div class="page--breadcrumb font--secondary">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Quick Fix</a></li>
                    <li class="active"><span>Shop</span></li>
                </ul>
            </div>
        </div>
        <!-- Page Breadcrumb End -->
    </div>
    <!-- Page Header Section End -->

    <!-- Products Section Start -->
    <div class="products--section pd--100-0">
        <div class="container">
            <div class="row AdjustRow">
                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-01.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-02.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-03.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-04.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-05.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-06.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-07.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12">
                    <!-- Product Item Start -->
                    <div class="product--item">
                        <div class="product--item-img">
                            <img src="img/shop-img/product-item-08.jpg" alt="" data-rjs="2">

                            <div class="product--item-img-info bg--overlay">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <div class="btn-groups">
                                            <a href="#" class="btn btn-default" title="Wishlist" data-toggle="tooltip"><i class="fa fa-heart-o"></i></a>

                                            <a href="#" class="btn btn-default" title="Add to Cart" data-toggle="tooltip"><i class="fa fa-shopping-cart"></i></a>

                                            <a href="#" class="btn btn-default" title="View Details" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product--item-info">
                            <h2 class="h5"><a href="shop-details.html">Your Product Name Here</a></h2>

                            <div class="clearfix">
                                <div class="rating">
                                    <ul class="nav">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>

                                <div class="price">
                                    <p><del>$09.99</del>$08.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>
            </div>

            <!-- Pager Start -->
            <ul class="pager">
                <li><a href="#"><i class="fa fm fa-long-arrow-left"></i>Previous</a></li>
                <li><span><em>01</em> / 05</span></li>
                <li><a href="#">Next<i class="fa flm fa-long-arrow-right"></i></a></li>
            </ul>
            <!-- Pager End -->
        </div>
    </div>
    <!-- Products Section End -->

    <!-- Call To Action Section Start -->
    <div class="cta--section bg--color-darkgray">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- Call To Action Content Start -->
                    <div class="cta--content">
                        <h2 class="h3">Looking For A Fast &amp; Reliable Repair Service</h2>

                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                    <!-- Call To Action Content Start -->
                </div>

                <div class="col-md-3">
                    <!-- Call To Action Button Start -->
                    <div class="cta--btn">
                        <a href="index.html#banner" class="btn btn-default">Get Free Estimate</a>
                    </div>
                    <!-- Call To Action Button Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Call To Action Section End -->

    <!-- Back To Top Button Start -->
    <div class="back-to-top-btn">
        <a href="#" class="btn btn-default active"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Back To Top Button End -->
</div>
<!-- Wrapper End -->

{% endblock shop %}